extends layout

block content
 h1(id='pageTitle') #{title}
 div
  div(id='diceTrack')
   |dice rolled
   div
    p(id="turn") Player1
   div(id="coins")
    button(id="c1") c1
    button(id="c2") c2
    button(id="c3") c3
    button(id="c4") c4
    button(id="c5") c5
    button(id="c6") c6
   div(id="diceStack")
    p DICE STACK
    table
     tr
      td
        <input type="checkbox" name="diceVlaue" value="1">
      td 1
     tr
      td
        <input type="checkbox" name="diceVlaue" value="1">
      td 2
   button(id="TD") TROW DICE
  div(id='board')
  div(id='playersTrack')
   |who is playing
  script.
   var board=this.document.getElementById('board');
   for(id=1;id<50;id++){
    var div=this.document.createElement('div');
    div.setAttribute('id',id);
    div.setAttribute('class','cell');
    board.appendChild(div);
   }
  each zoneId in Game.safeZones
   script.
    var zone=this.document.getElementById(#{zoneId});
    zone.setAttribute('style','background-image: url(./images/safe.png);');
